@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Sacramento&display=swap');

body {
    background-color: #f8f6fc;
    /* background-image: url(./assets/images/background-home.jpg);
    background-size: cover; */
}

a h3{
    text-decoration: none;
    color: black;
}

.navigation {
    padding-top: 15px;
}

.cyth-logo {
    width: 65px;
    height: 50px;
}

/* .content-section {
    background-color: #EBB7A1;
} */

.content-text {
    font-family: 'Covered By Your Grace';
    padding-top: 60px;
}

/* .content-text h1 {
    font-size: 90px;
} */

.content-text h3 {
    font-size: 60px;
}

.content-text p {
    font-size: 30px;
}

.content-section img {
    width: 350px;
    height: 250px;
}

.why-heading {
    padding-bottom: 60px;
}

.why img {
    width: 320px;
    height: 220px;
    border-radius: 40%;
    object-fit: cover;
}

.why h1 {
    font-family: 'Covered By Your Grace';
}

.why h3 {
    font-family: 'Covered By Your Grace';
    font-size: 50px;
}

.why p {
    font-family: 'Covered By Your Grace';
    font-size: 20px;
}

.mybox {
    position: relative;
    bottom: 100px;
    left: 117px;
    height: 500px;
    width: 77rem;
    background: blue;
    clip-path: circle(65% at 75% 2%);
    z-index: -1;
  }